<div class="container">
  <div class="row">
    <div class="col-ms-12">
      <h1>{{'GEN_LBL_PLAYER_PROFIL' | translate}}</h1>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="editionForm.dirty || uploader.queue.length > 0 || contactForm.dirty">
    <div class="col-sm-12">
      <div class="alert alert-info">
        <strong>{{'GEN_LBL_IMPORTANT' | translate}} : </strong>{{'GEN_LBL_MODIFICATIONS_UNSAVED' | translate}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top" src="{{userService.currentUser.photo.url}}" alt="Card image">
        <div class="card-body">
          <h5 class="card-title">{{'GEN_LBL_ID' | translate}}</h5>
          <hr>
          <div class="form-group row">
            <div class="col-sm-2">
              <fa-icon icon="address-card"></fa-icon>
            </div>
            <div class="col-sm-10">
              <p class="card-text">{{userService.currentUser.firstName}} {{userService.currentUser.lastName}} -
                {{userService.currentUser.userName}}</p>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2">
              <fa-icon icon="at"></fa-icon>
            </div>
            <div class="col-sm-10">
              <p class="card-text">{{userService.currentUser.email}}</p>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2">
              <fa-icon icon="mobile-alt"></fa-icon>
            </div>
            <div class="col-sm-10">
              <p class="card-text">{{userService.currentUser.phoneNumber}}</p>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2">
              <fa-icon icon="birthday-cake"></fa-icon>
            </div>
            <div class="col-sm-10">
              <p class="card-text">{{userService.currentUser.birthDate | date:'longDate'}}</p>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <div class="col-sm-2">
              <fa-icon icon="wifi"></fa-icon>
            </div>
            <div class="col-sm-10">
              <p class="card-text">{{userService.currentUser.createdDate | date:'longDate'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <tabset>
        <tab heading="{{'GEN_LBL_EDITION_ACCOUNT_GENERAL_INFORMATIONS' | translate}}">
          <div class="card">
            <div class="card-body">

              <form [formGroup]="editionForm" (ngSubmit)="updateUser()">

                <div class="form-group row">
                  <label for="username" class="col-sm-2 col-form-label">{{'GEN_LBL_PSEUDO' | translate}}</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="username"
                      [ngClass]="{'is-invalid': editionForm.get('username').errors && editionForm.get('username').dirty, 'is-valid': editionForm.get('username').valid && editionForm.get('username').dirty}"
                      class="form-control" placeholder="{{'GEN_LBL_PSEUDO' | translate}}">
                    <div class="invalid-feedback" *ngIf="!editionForm.get('username').errors?.pattern">
                      {{'ERR_USERNAME_REQUIRED' | translate}}</div>
                    <div class="invalid-feedback" *ngIf="editionForm.get('username').errors?.pattern">
                      {{'ERR_TEXT_INCORRECT' | translate}}</div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="firstname" class="col-sm-2 col-form-label">{{'GEN_LBL_FIRSTNAME' | translate}}</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="firstname"
                      [ngClass]="{'is-invalid': editionForm.get('firstname').errors && editionForm.get('firstname').dirty, 'is-valid': editionForm.get('firstname').valid && editionForm.get('firstname').dirty}"
                      class="form-control" placeholder="{{'GEN_LBL_FIRSTNAME' | translate}}">
                    <div class="invalid-feedback" *ngIf="!editionForm.get('username').errors?.pattern">
                      {{'ERR_FIRSTNAME_REQUIRED' | translate}}</div>
                    <div class="invalid-feedback" *ngIf="editionForm.get('username').errors?.pattern">
                      {{'ERR_TEXT_INCORRECT' | translate}}</div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="lastname" class="col-sm-2 col-form-label">{{'GEN_LBL_LASTNAME' | translate}}</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="lastname"
                      [ngClass]="{'is-invalid': editionForm.get('lastname').errors && editionForm.get('lastname').dirty, 'is-valid': editionForm.get('lastname').valid && editionForm.get('lastname').dirty}"
                      class="form-control" placeholder="{{'GEN_LBL_LASTNAME' | translate}}">
                    <div class="invalid-feedback" *ngIf="!editionForm.get('username').errors?.pattern">
                      {{'ERR_LASTNAME_REQUIRED' | translate}}</div>
                    <div class="invalid-feedback" *ngIf="editionForm.get('username').errors?.pattern">
                      {{'ERR_TEXT_INCORRECT' | translate}}</div>
                  </div>
                </div>

                <hr>

                <div class="form-group row">
                  <label for="dateOfBirth" class="col-sm-4 col-form-label">{{'GEN_LBL_BIRTHDATE' | translate}}</label>
                  <div class="col-sm-8">
                    <input type="text" formControlName="dateOfBirth" placeholder="{{'GEN_LBL_BIRTHDATE' | translate}}"
                      [ngClass]="{'is-invalid': editionForm.get('dateOfBirth').errors && editionForm.get('dateOfBirth').dirty 
                                  || editionForm.hasError('underage'), 'is-valid': editionForm.get('dateOfBirth').valid && !editionForm.hasError('underage') && editionForm.get('dateOfBirth').dirty}"
                      class="form-control" bsDatepicker [bsConfig]="bsConfig">
                    <div class="invalid-feedback"
                      *ngIf="editionForm.get('dateOfBirth').errors && editionForm.get('dateOfBirth').dirty">
                      {{'ERR_BIRTHDATE_REQUIRED' | translate}}</div>
                    <div class="invalid-feedback"
                      *ngIf="editionForm.hasError('underage') && editionForm.get('dateOfBirth').dirty">
                      {{'ERR_MAJORITY_REQUIRED' | translate}}</div>
                  </div>
                </div>

                <hr>

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">{{'GEN_LBL_ADDRESS' | translate}}</label>
                  <div class="col-sm-10">
                    <input type="text"
                      [ngClass]="{'is-invalid': editionForm.get('address').errors && editionForm.get('address').dirty,'is-valid': editionForm.get('address').valid && editionForm.get('address').dirty}"
                      formControlName="address" placeholder="{{'GEN_LBL_ADDRESS' | translate}}" class="form-control">
                    <div class="invalid-feedback" *ngIf="editionForm.get('address').errors?.pattern">
                      {{'ERR_TEXT_INCORRECT' | translate}}</div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">{{'GEN_LBL_CITY' | translate}}</label>
                  <div class="col-sm-5">
                    <input type="text"
                      [ngClass]="{'is-invalid': editionForm.get('city').errors && editionForm.get('city').dirty, 'is-valid': editionForm.get('city').valid && editionForm.get('city').dirty}"
                      formControlName="city" placeholder="{{'GEN_LBL_CITY' | translate}}" class="form-control">
                    <div class="invalid-feedback" *ngIf="editionForm.get('city').errors?.pattern">
                      {{'ERR_TEXT_INCORRECT' | translate}}</div>
                  </div>


                  <label class="col-sm-2 col-form-label">{{'GEN_LBL_ZIPCODE' | translate}}</label>
                  <div class="col-sm-3">
                    <input type="text"
                      [ngClass]="{'is-invalid': editionForm.get('zipcode').errors && editionForm.get('zipcode').dirty, 'is-valid': editionForm.get('zipcode').valid && editionForm.get('zipcode').dirty}"
                      formControlName="zipcode" placeholder="{{'GEN_LBL_ZIPCODE' | translate}}" class="form-control">
                    <div class="invalid-feedback" *ngIf="editionForm.get('city').errors?.pattern">
                      {{'ERR_TEXT_INCORRECT' | translate}}</div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">{{'GEN_LBL_EMAIL' | translate}}</label>
                  <div class="col-sm-10">
                    <input type="text"
                      [ngClass]="{'is-invalid': editionForm.get('email').errors && editionForm.get('email').dirty, 'is-valid': editionForm.get('email').valid && editionForm.get('email').dirty}"
                      formControlName="email" placeholder="{{'GEN_LBL_EMAIL' | translate}}" class="form-control">
                    <div class="invalid-feedback" *ngIf="!editionForm.get('email').errors?.pattern">
                      {{'ERR_EMAIL_REQUIRED' | translate}}</div>
                    <div class="invalid-feedback" *ngIf="editionForm.get('email').errors?.pattern">
                      {{'ERR_TEXT_INCORRECT' | translate}}</div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">{{'GEN_LBL_MOBILE_PHONE' | translate}}</label>
                  <div class="col-sm-10">
                    <input type="tel" formControlName="phonenumber"
                      [ngClass]="{'is-invalid': editionForm.get('phonenumber').errors && editionForm.get('phonenumber').dirty, 'is-valid': editionForm.get('phonenumber').valid && editionForm.get('phonenumber').dirty}"
                      placeholder="{{'GEN_LBL_MOBILE_PHONE' | translate}}" class="form-control">
                    <div class="invalid-feedback" *ngIf="!editionForm.get('phonenumber').errors?.pattern">
                      {{'ERR_PHONENUMBER_REQUIRED' | translate}}</div>
                    <div class="invalid-feedback" *ngIf="editionForm.get('phonenumber').errors?.pattern">
                      {{'ERR_TEXT_INCORRECT' | translate}}</div>
                  </div>
                </div>

                <hr>

                <div class="row">
                  <div class="col-sm-12">
                    <div class="float-right">
                      <button type="submit" [disabled]='!editionForm.valid || !editionForm.dirty'
                        class="btn btn-success">{{'GEN_LBL_SAVE' | translate}}</button>
                      <button type="button" class="btn btn-danger"
                        (click)="createEditionForm()">{{'GEN_LBL_CANCEL' | translate}}</button>
                    </div>
                  </div>
                </div>

              </form>

            </div>
          </div>
        </tab>
        <tab heading="{{'GEN_LBL_EDITION_HEALTH' | translate}}">
          <div class="card">
            <div class="card-body">
              <h3>{{'GEN_LBL_ALLERGIES' | translate}}</h3>
              <form [formGroup]="contactForm" (ngSubmit)="updateHealth()">
                <ckeditor [editor]="Editor" [config]="configEditor" formControlName="allergies"></ckeditor>
                <hr>

                <h3>{{'GEN_LBL_ICU' | translate}}</h3>


                <div class="form-group row">
                  <label for="firstnameContact"
                    class="col-sm-2 col-form-label">{{'GEN_LBL_FIRSTNAME' | translate}}</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="firstnameContact"
                      [ngClass]="{'is-invalid': contactForm.get('firstnameContact').errors && contactForm.get('firstnameContact').dirty, 'is-valid': contactForm.get('firstnameContact').valid && contactForm.get('firstnameContact').dirty}"
                      class="form-control" placeholder="{{'GEN_LBL_FIRSTNAME' | translate}}">
                    <div class="invalid-feedback" *ngIf="!contactForm.get('firstnameContact').errors?.pattern">
                      {{'ERR_FIRSTNAME_REQUIRED' | translate}}</div>
                    <div class="invalid-feedback" *ngIf="contactForm.get('firstnameContact').errors?.pattern">
                      {{'ERR_FIRSTNAME_INCORRECT' | translate}}</div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="lastnameContact"
                    class="col-sm-2 col-form-label">{{'GEN_LBL_LASTNAME' | translate}}</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="lastnameContact"
                      [ngClass]="{'is-invalid': contactForm.get('lastnameContact').errors && contactForm.get('lastnameContact').dirty, 'is-valid': contactForm.get('lastnameContact').valid && contactForm.get('lastnameContact').dirty}"
                      class="form-control" placeholder="{{'GEN_LBL_LASTNAME' | translate}}">
                    <div class="invalid-feedback" *ngIf="!contactForm.get('lastnameContact').errors?.pattern">
                      {{'ERR_LASTNAME_REQUIRED' | translate}}</div>
                    <div class="invalid-feedback" *ngIf="contactForm.get('lastnameContact').errors?.pattern">
                      {{'ERR_LASTNAME_INCORRECT' | translate}}</div>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">{{'GEN_LBL_MOBILE_PHONE' | translate}}</label>
                  <div class="col-sm-10">
                    <input type="tel" formControlName="phonenumberContact"
                      [ngClass]="{'is-invalid': contactForm.get('phonenumberContact').errors && contactForm.get('phonenumberContact').dirty, 'is-valid': contactForm.get('phonenumberContact').valid && contactForm.get('phonenumberContact').dirty}"
                      placeholder="{{'GEN_LBL_MOBILE_PHONE' | translate}}" class="form-control">
                    <div class="invalid-feedback" *ngIf="!contactForm.get('phonenumberContact').errors?.pattern">
                      {{'ERR_PHONENUMBER_REQUIRED' | translate}}</div>
                    <div class="invalid-feedback" *ngIf="contactForm.get('phonenumberContact').errors?.pattern">
                      {{'ERR_PHONENUMBER_INCORRECT' | translate}}</div>
                  </div>
                </div>

                <hr>

                <div class="row">
                  <div class="col-sm-12">
                    <div class="float-right">
                      <button type="submit" [disabled]='!contactForm.valid || !contactForm.dirty'
                        class="btn btn-success">{{'GEN_LBL_SAVE' | translate}}</button>
                      <button type="button" class="btn btn-danger"
                        (click)="createContactForm()">{{'GEN_LBL_CANCEL' | translate}}</button>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </tab>
        <tab heading="{{'GEN_LBL_EDITION_ACCOUNT_PHOTO' | translate}}">
          <div class="card">
            <div class="card-body">

              <div class="col-sm-12 drop-col">
                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
                  [uploader]="uploader" class="card bg-faded h-100 text-center">
                  <p class="mx-atuo my-auto">
                    {{'GEN_LBL_DROP_HERE' | translate}}
                    <fa-icon icon="cloud-upload-alt"></fa-icon>
                  </p>
                </div>
              </div>

              <div class="row mb-3 mt-3">
                <div class="col-sm-12 text-center">
                  --- {{'GEN_LBL_OR' | translate}} ---
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 text-center">
                  <input type="file" ng2FileSelect [uploader]="uploader" />
                </div>
              </div>

              <div class="row mt-3">
                <table class="table">
                  <thead>
                    <tr>
                      <th width="50%">{{'GEN_LBL_FILE_NAME' | translate}}</th>
                      <th>{{'GEN_LBL_FILE_SIZE' | translate}}</th>
                      <th>{{'GEN_LBL_FILE_PROGRESS' | translate}}</th>
                      <th>{{'GEN_LBL_ACTION' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of uploader.queue">
                      <td><strong style="overflow-wrap: break-word;">{{ item?.file?.name }}</strong></td>
                      <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                      <td *ngIf="uploader.options.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }">
                          </div>
                        </div>
                      </td>
                      <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" (click)="item.upload()"
                          [disabled]="item.isReady || item.isUploading || item.isSuccess">
                          <span class="glyphicon glyphicon-upload"></span> {{'GEN_LBL_SAVE' | translate}}
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                          <fa-icon icon="trash"></fa-icon>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>

            </div>
          </div>
        </tab>
        <tab heading="{{'GEN_LBL_EDITION_ACCOUNT_SECURITY' | translate}}">
          <div class="card">
            <div class="card-body">
              <h3>{{'GEN_LBL_CHANGE_PASSWORD' | translate}}</h3>
              <hr>

              <form [formGroup]="securityForm" (ngSubmit)="updateSecurity()">
                <div class="col-sm-7 mx-auto">
                  <div class="form-group row">
                    <label class="col-sm-5 col-form-label">{{'GEN_LBL_CURRENT_PASSWORD' | translate}}</label>
                    <div class="col-sm-7">
                      <input type="password" class="form-control" formControlName="currentPassword">
                      <div class="invalid-feedback"
                        *ngIf="securityForm.get('currentPassword').hasError('required') && securityForm.get('currentPassword').touched">
                        {{'ERR_PASSWORD_REQUIRED' | translate}}</div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-5 col-form-label">{{'GEN_LBL_NEW_PASSWORD' | translate}}</label>
                    <div class="col-sm-7">
                      <input type="password" class="form-control" formControlName="newPassword">
                    </div>
                    <div class="invalid-feedback"
                      *ngIf="securityForm.get('newPassword').hasError('required') && securityForm.get('newPassword').touched">
                      {{'ERR_PASSWORD_REQUIRED' | translate}}</div>
                    <div class="invalid-feedback"
                      *ngIf="securityForm.get('newPassword').hasError('minlength') && securityForm.get('newPassword').touched">
                      {{'ERR_PASSWORD_MINLENGTH' | translate}}</div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-5 col-form-label">{{'GEN_LBL_CONFIRM_NEW_PASSWORD' | translate}}</label>
                    <div class="col-sm-7">
                      <input type="password" class="form-control" formControlName="confirmPassword">
                    </div>
                    <div class="invalid-feedback"
                      *ngIf="securityForm.get('confirmPassword').errors && securityForm.get('confirmPassword').touched">
                      {{'ERR_CONFIRMPASSWORD_REQUIRED' | translate}}</div>
                    <div class="invalid-feedback"
                      *ngIf="securityForm.hasError('mismatch') && securityForm.get('confirmPassword').touched">
                      {{'ERR_CONFIRMPASSWORD_MATCH' | translate}}</div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12">
                    <div class="float-right">
                      <button type="submit" [disabled]='!securityForm.valid || !securityForm.dirty'
                        class="btn btn-success">{{'GEN_LBL_SAVE' | translate}}</button>
                      <button type="button" class="btn btn-danger"
                        (click)="createContactForm()">{{'GEN_LBL_CANCEL' | translate}}</button>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>