<div class="container">
  <div class="row">
      <div class="col-sm-2">
          <img src="{{logo}}" class="img-thumbnail">
      </div>
      <div class="col-sm-10">
          <p class="text-justify">Bienvenue cher mortel,</p>
          <p class="text-justify">Si vous êtes arrivé jusqu'ici c'est que vous avez entendu parler des rites nocturnes de notre belle communauté. Votre curiosité est attisée ? Bien sûr, les histoires surnaturelles ont toujours séduit les Hommes depuis la nuit des temps. </p>
          <p class="text-justify">Entrez n'ayez crainte, vous ne risquez rien d'autre qu'une éternité de jeux s'offre à vous.</p>
          <p class="text-justify">Toutes les six semaines à la nuit tombée, notre merveilleuse Cité ouvre les portes de son Elysée. Les semblables s'y rencontrent et peuvent à loisir mettre en oeuvre leur stratégies pour s'élever au sein de notre belle société. </p>
          <p class="text-justify">Nous sommes toujours ravis d'accueillir des hôtes de qualité qu'ils soient expérimentés ou à initier.Vous serez entre de bonnes et bienveillantes mains.</p>
          <p class="text-justify">Au plaisir de converser avec vous sur notre forum afin de préparer votre venue,</p>
          <p class="text-justify">Que la nuit vous garde,</p>
          <p class="text-justify">Votre dévouée Harpie.</p>
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-sm-10">
          <p class="text-justify">Bienvenue sur le site de l'Association Loi 1901 Conte d'Ys, association pour la pratique et l'initiation au Jeu de Rôle Grandeur Nature Vampire la Mascarade. </p>
          <p class="text-justify">Conte d'Ys existe depuis juillet 2011, c'est une quarantaine de membres, une équipe d'organisation, une place de fondateur au sein du Théâtre de l'Imaginaire Francophone, une union d'associations d'envergure nationale et internationale qui partagent la même passion du jeu.</p>
          <p class="text-justify">Conte d’Ys a pour but premier de permettre à ses membres de s’amuser, par l’intermédiaire du théâtre d’improvisation. Les participants jouent un personnage FICTIF évoluant dans l’univers IMAGINAIRE des jeux de rôles édités par la société White Wolf™.</p>
          <p class="text-justify">Tous les participants savent pertinemment que tout ceci n’est qu’un jeu et que les vampires et autres créatures surnaturelles ne sont que pur produit de l’imagination. Le monde dans lequel évoluent les joueurs, est contemporain au notre, et touche la plupart des aspects socioculturels correspondant à notre société occidentale.</p>
          <p class="text-justify">Aussi il appartient au lecteur de faire la part des choses, lorsque certains sujets délicats peuvent être évoqués.
      </div>
      <div class="col-sm-2">
          <img src="{{logo}}" class="img-thumbnail">
      </div>
  </div>
  <hr>
</div>