<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card border-light mb-3 info-card">
        <div class="card-header">{{'CREATION_CHARACTER_LBL_HELP' | translate}}</div>
        <div class="card-body">
          <h5 class="card-title">{{'CREATION_CHARACTER_LBL_HELP_HEADER' | translate}}</h5>
          <p class="card-text">{{'CREATION_CHARACTER_LBL_HELP_TEXT_DEFAULT' | translate}}</p>
          <p id="optionsInformation" class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-ms-12">
          <h1>{{'LBL_CREATE_CHARACTER' | translate}}</h1>
        </div>
      </div>
      <hr>

      <div class="card mb-3">
        <div class="card-body">
          <form class="row mb-3" [formGroup]="stepZeroForm">

            <div class="form-group col-sm-6" dbnHelpCreationCharacter
              [headerText]="'CREATION_CHARACTER_NAME_HELP_HEADER'" [bodyText]="'CREATION_CHARACTER_NAME_HELP_TEXT'">
              <input
                [ngClass]="{'is-invalid': stepZeroForm.get('characterName').errors && stepZeroForm.get('characterName').touched}"
                formControlName="characterName" class="form-control form-control-lg" type="text"
                placeholder="{{'LBL_CREATE_CHARACTER_NAME' | translate}}">
              <div class="invalid-feedback">
                {{'ERR_CREATION_CHARACTER_NAME' | translate}}</div>
            </div>

            <div class="col">
              <div class="form-group row m-0" dbnHelpCreationCharacter
                [headerText]="'CREATION_CHARACTER_CHRONICLE_HELP_HEADER'"
                [bodyText]="'CREATION_CHARACTER_CHRONICLE_HELP_TEXT'">
                <label for="chronicle" class="col-sm-3 col-form-label">Chronique</label>
                <div class="col">
                  <select class="form-control form-control-sm" formControlName="chronicle"
                    [ngClass]="{'is-invalid': stepZeroForm.get('chronicle').errors && stepZeroForm.get('chronicle').touched}">
                    <option [ngValue]="null">{{'CREATION_CHARACTER_CHRONICLE' | translate}}</option>
                    <option *ngFor="let chronicle of chronicles" [ngValue]="chronicle.chronicleKey">
                      {{chronicle.name | translate}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="form-group row m-0" dbnHelpCreationCharacter
                [headerText]="'CREATION_CHARACTER_SECT_HELP_HEADER'" [bodyText]="'CREATION_CHARACTER_SECT_HELP_TEXT'">
                <label for="sect" class="col-sm-3 col-form-label">Secte</label>
                <div class="col">
                  <select class="form-control form-control-sm" formControlName="sect"
                    [ngClass]="{'is-invalid': stepZeroForm.get('sect').errors && stepZeroForm.get('sect').touched}">
                    <option [ngValue]="null">{{'CREATION_CHARACTER_SECT' | translate}}</option>
                    <option *ngFor="let sect of affilations" [ngValue]="sect.affiliateKey">
                      {{sect.affiliateKey | translate}}
                    </option>
                  </select>
                </div>
              </div>
            </div>


          </form>

          <form class="row mb-3" [formGroup]="stepOneForm">
            <div class="col" dbnHelpCreationCharacter [headerText]="'CREATION_CHARACTER_ARCHETYPE_HELP_HEADER'"
              [bodyText]="'CREATION_CHARACTER_ARCHETYPE_HELP_TEXT'">
              <select class="form-control" formControlName="archetypes"
                [ngClass]="{'is-invalid': stepOneForm.get('archetypes').errors && stepOneForm.get('archetypes').touched}">
                <option [ngValue]="null">{{'CREATION_CHARACTER_ARCHETYPE' | translate}}</option>
                <option *ngFor="let archetype of archetypes" [ngValue]="archetype.archetypeKey">
                  {{archetype.archetypeKey | translate}}
                </option>
              </select>
            </div>
            <div class="col">
              <input formControlName="concept" class="form-control" dbnHelpCreationCharacter
                [ngClass]="{'is-invalid': stepOneForm.get('concept').errors && stepOneForm.get('concept').touched}"
                [headerText]="'CREATION_CHARACTER_CONCEPT_HELP_HEADER'"
                [bodyText]="'CREATION_CHARACTER_CONCEPT_HELP_TEXT'"
                placeholder="{{'CREATION_CHARACTER_CONCEPT_PLACEHOLDER' | translate}}">
              <div class="invalid-feedback">
                {{'ERR_CREATION_CHARACTER_CONCEPT' | translate}}</div>
            </div>
          </form>

          <form class="row" [formGroup]="stepTwoForm">
            <div class="col" dbnHelpCreationCharacter
            [headerText]="'CREATION_CHARACTER_CLAN_HELP_HEADER'" [bodyText]="'CREATION_CHARACTER_CLAN_HELP_TEXT'">
              <select class="form-control" formControlName="clan"
                [ngClass]="{'is-invalid': stepTwoForm.get('clan').errors && stepTwoForm.get('clan').touched}">
                <option [ngValue]="null">{{'CREATION_CHARACTER_CLAN' | translate}}</option>
                <option *ngFor="let clan of clans" [ngValue]="clan.clanKey">
                  {{clan.name | translate}}
                </option>
              </select>
            </div>

          </form>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">
          <div class="text-center">
            <h3 class="card-title">{{'ATTRIBUT'| translate}}</h3>
            <h6 class="card-subtitle mb-2 text-muted">{{'CREATION_CHARACTER_EXPLAIN_POINTS_ATTRIBUTS' | translate}}</h6>
            <hr>
          </div>
          <form class="row text-center" [formGroup]="stepThreeForm">
            <div class="col mr-1 attribut">
              <span dbnHelpCreationCharacter [headerText]="'CREATION_CHARACTER_PHYSICAL_ATTRIBUT_HELP_HEADER'" [bodyText]="'CREATION_CHARACTER_PHYSICAL_ATTRIBUT_HELP_TEXT'">{{'PHYSICAL_NAME'|translate}} :
                <dbn-rate [maxRate]='maxRatePrimaryAttribut' [nbCircleMax]=10 [currentRate]=1
                  (newRate)="setPhysicalAttribut($event)"></dbn-rate>
              </span>
              <div class="row">
                <div class="col form-check" *ngFor="let focus of physicalFocus"
                  dbnHelpCreationCharacter [headerText]="focus.name" [bodyText]="focus.description">
                  <input class="form-check-input" id="{{focus.focusKey}}" type="checkbox" value="{{focus.focusKey}}" formControlName="physicalFocus">
                  <label class="form-check-label" for="{{focus.focusKey}}">
                    {{focus.focusName|translate}}
                  </label>
                </div>
              </div>
            </div>
            <div class="col mr-1 attribut">
              <span dbnHelpCreationCharacter [headerText]="'CREATION_CHARACTER_SOCIAL_ATTRIBUT_HELP_HEADER'" [bodyText]="'CREATION_CHARACTER_SOCIAL_ATTRIBUT_HELP_TEXT'">{{'SOCIAL_NAME'|translate}} :
                <dbn-rate [maxRate]='maxRatePrimaryAttribut' [nbCircleMax]=10 [currentRate]=1
                  (newRate)="setSocialAttribut($event)"></dbn-rate>
              </span>
              <div class="row">
                <div class="col form-check" *ngFor="let focus of socialFocus"
                  dbnHelpCreationCharacter [headerText]="focus.name" [bodyText]="focus.description">
                  <input class="form-check-input" id="{{focus.focusKey}}" type="checkbox" value="{{focus.focusKey}}" formControlName="socialFocus">
                  <label class="form-check-label" for="{{focus.focusKey}}">
                    {{focus.focusName|translate}}
                  </label>
                </div>
              </div>
            </div>
            <div class="col">
              <span dbnHelpCreationCharacter [headerText]="'CREATION_CHARACTER_MENTAL_ATTRIBUT_HELP_HEADER'" [bodyText]="'CREATION_CHARACTER_MENTAL_ATTRIBUT_HELP_TEXT'">{{'MENTAL_NAME'|translate}} :
                <dbn-rate [maxRate]='maxRatePrimaryAttribut' [nbCircleMax]=10 [currentRate]=1
                  (newRate)="setMentalAttribut($event)"></dbn-rate>
              </span>
              <div class="row">
                <div class="col form-check" *ngFor="let focus of mentalFocus"
                dbnHelpCreationCharacter [headerText]="focus.name" [bodyText]="focus.description">
                  <input class="form-check-input" id="{{focus.focusKey}}" type="checkbox" value="{{focus.focusKey}}" formControlName="mentalFocus">
                  <label class="form-check-label" for="{{focus.focusKey}}">
                    {{focus.focusName|translate}}
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card border-light mb-3">
        <div class="card-header">{{'CREATION_CHARACTER_LBL_RULE'| translate}}</div>
        <div class="card-body">
          <div class="mb-2">
            <fa-icon *ngIf="stepZeroForm.valid" class="stepValided align-middle mr-1" icon="check"></fa-icon>
            <span
              [ngClass]="{'stepValided  font-weight-light': stepZeroForm.valid, 'font-weight-bold': !stepZeroForm.valid}"
              class="card-text">{{'CREATION_CHARACTER_LBL_STEP_0' | translate}}</span>
          </div>
          <div class="mb-2">
            <fa-icon *ngIf="stepOneForm.valid" class="stepValided align-middle mr-1" icon="check"></fa-icon>
            <span
              [ngClass]="{'stepValided font-weight-light': stepOneForm.valid, 'font-weight-bold': stepZeroForm.valid && !stepOneForm.valid}"
              class="card-text">{{'CREATION_CHARACTER_LBL_STEP_1' | translate}}</span>
          </div>
          <div class="mb-2">
            <fa-icon *ngIf="stepTwoForm.valid" class="stepValided align-middle mr-1" icon="check"></fa-icon>
            <span
              [ngClass]="{'stepValided font-weight-light': stepTwoForm.valid, 'font-weight-bold': stepZeroForm.valid && stepOneForm.valid && !stepTwoForm.valid}"
              class="card-text">{{'CREATION_CHARACTER_LBL_STEP_2' | translate}}</span>
          </div>
          <div class="mb-2">
            <fa-icon *ngIf="stepThreeForm.valid" class="stepValided align-middle mr-1" icon="check"></fa-icon>
            <span
              [ngClass]="{'stepValided font-weight-light': stepThreeForm.valid, 'font-weight-bold': stepZeroForm.valid && stepOneForm.valid && stepTwoForm.valid && !stepThreeForm.valid}"
              class="card-text">{{'CREATION_CHARACTER_LBL_STEP_3' | translate}}</span>
          </div>
          <div class="mb-2">
            <fa-icon *ngIf="false" class="stepValided align-middle mr-1" icon="check"></fa-icon>
            <span class="card-text">{{'CREATION_CHARACTER_LBL_STEP_4' | translate}}</span>
          </div>
          <div class="mb-2">
            <fa-icon *ngIf="false" class="stepValided align-middle mr-1" icon="check"></fa-icon>
            <span class="card-text">{{'CREATION_CHARACTER_LBL_STEP_5' | translate}}</span>
          </div>
          <div class="mb-2">
            <fa-icon *ngIf="false" class="stepValided align-middle mr-1" icon="check"></fa-icon>
            <span class="card-text">{{'CREATION_CHARACTER_LBL_STEP_6' | translate}}</span>
          </div>
          <div class="mb-2">
            <fa-icon *ngIf="false" class="stepValided align-middle mr-1" icon="check"></fa-icon>
            <span class="card-text">{{'CREATION_CHARACTER_LBL_STEP_7' | translate}}</span>
          </div>
          <div class="mb-2">
            <fa-icon *ngIf="false" class="stepValided align-middle mr-1" icon="check"></fa-icon>
            <span class="card-text">{{'CREATION_CHARACTER_LBL_STEP_8' | translate}}</span>
          </div>
          <div class="mb-2">
            <fa-icon *ngIf="false" class="stepValided align-middle mr-1" icon="check"></fa-icon>
            <span class="card-text">{{'CREATION_CHARACTER_LBL_STEP_9' | translate}}</span>
          </div>

        </div>
      </div>
    </div>
  </div>