<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card border-light mb-3 info-card">
        <div class="card-header">{{'CREATION_CHARACTER_LBL_HELP' | translate}}</div>
        <div class="card-body">
          <h5 class="card-title">{{'CREATION_CHARACTER_LBL_HELP_HEADER' | translate}}</h5>
          <p class="card-text">{{'CREATION_CHARACTER_LBL_HELP_TEXT_DEFAULT' | translate}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-ms-12">
          <h1>{{'LBL_CREATE_CHARACTER' | translate}}</h1>
        </div>
      </div>
      <hr>
      <form [formGroup]="characterForm">
        <div class="card w-100">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4" dbnHelpCreationCharacter [headerText]="'CREATION_CHARACTER_CHRONICLE_HELP_HEADER'" [bodyText]="'CREATION_CHARACTER_CHRONICLE_HELP_TEXT'">
                <select class="form-control form-control-lg" formControlName="chronicle">
                  <option [ngValue]="null">{{'CREATION_CHARACTER_CHRONICLE' | translate}}</option>
                  <option *ngFor="let chronicle of chronicles" [ngValue]="chronicle.chronicleKey">
                    {{chronicle.name | translate}}
                  </option>
                </select>
              </div>
              <div class="col-sm-4" dbnHelpCreationCharacter [headerText]="'CREATION_CHARACTER_NAME_HELP_HEADER'" [bodyText]="'CREATION_CHARACTER_NAME_HELP_TEXT'">
                <input formControlName="characterName" class="form-control form-control-lg" type="text"
                  placeholder="{{'LBL_CREATE_CHARACTER_NAME' | translate}}">
              </div>
              <div class="col-sm-4" dbnHelpCreationCharacter [headerText]="'CREATION_CHARACTER_SECT_HELP_HEADER'" [bodyText]="'CREATION_CHARACTER_SECT_HELP_TEXT'">
                <select class="form-control form-control-lg" formControlName="sect">
                  <option [ngValue]="null">{{'CREATION_CHARACTER_SECT' | translate}}</option>
                  <option *ngFor="let sect of affilations" [ngValue]="sect.affiliateKey">
                   {{sect.affiliateKey | translate}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col">
      <div class="card border-light mb-3">
        <div class="card-header">{{'CREATION_CHARACTER_LBL_RULE'| translate}}</div>
        <div class="card-body">
          <p class="card-text font-weight-bold">{{'CREATION_CHARACTER_LBL_STEP_0' | translate}}</p>
          <p class="card-text font-weight-light">{{'CREATION_CHARACTER_LBL_STEP_1' | translate}}</p>
          <p class="card-text font-weight-light">{{'CREATION_CHARACTER_LBL_STEP_2' | translate}}</p>
          <p class="card-text font-weight-light">{{'CREATION_CHARACTER_LBL_STEP_3' | translate}}</p>
          <p class="card-text font-weight-light">{{'CREATION_CHARACTER_LBL_STEP_4' | translate}}</p>
          <p class="card-text font-weight-light">{{'CREATION_CHARACTER_LBL_STEP_5' | translate}}</p>
          <p class="card-text font-weight-light">{{'CREATION_CHARACTER_LBL_STEP_6' | translate}}</p>
          <p class="card-text font-weight-light">{{'CREATION_CHARACTER_LBL_STEP_7' | translate}}</p>
          <p class="card-text font-weight-light">{{'CREATION_CHARACTER_LBL_STEP_8' | translate}}</p>
          <p class="card-text font-weight-light">{{'CREATION_CHARACTER_LBL_STEP_9' | translate}}</p>
          <p class="card-text font-weight-light">{{'CREATION_CHARACTER_LBL_STEP_10' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>