<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <img src="{{logo}}" class="img-thumbnail">
        </div>
        <div class="col-sm-10">
            <p>Bienvenue cher mortel,</p>

            <p>Si vous êtes arrivé jusqu'ici c'est que vous avez entendu parler des rites nocturnes de notre belle
                communauté.
                Votre curiosité est attisée ? Bien sûr, les histoires surnaturelles ont toujours séduit les Hommes
                depuis la nuit des temps. </p>

            <p>Entrez n'ayez crainte, vous ne risquez rien d'autre qu'une éternité de jeux s'offre à vous.</p>

            <p>
                Toutes les six semaines à la nuit tombée, notre merveilleuse Cité ouvre les portes de son Elysée. Les
                semblables s'y rencontrent et peuvent à loisir mettre en oeuvre leur stratégies pour s'élever au sein
                de notre belle société.
            </p>
            <p>
                Nous sommes toujours ravis d'accueillir des hôtes de qualité qu'ils soient expérimentés ou à initier.
                Vous
                serez entre de bonnes et bienveillantes mains.
            </p>
            <p>Au plaisir de converser avec vous sur notre forum afin de préparer votre venue,</p>
            <p>Que la nuit vous garde,</p>
            <p>Votre dévouée Harpie,</p>
        </div>
    </div>
</div>