<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" *ngIf="loggedIn()" dbnNavigationPile
      [routerLink]="['home']">{{ 'GEN_LBL_SITE_NAME' | translate }}</a>
    <a class="navbar-brand" *ngIf="!loggedIn()" dbnNavigationPile
      [routerLink]="['home/anonyme']">{{ 'GEN_LBL_SITE_NAME' | translate }}</a>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <span dropdown class="navbox" dbnNavigationPile>
        <span>
          <a href id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown"><img
              src="{{userService.currentUser.photo.url}}" class="nav-bar">
            {{ authService.decodedToken?.unique_name | titlecase }}</a>
        </span>
        <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="basic-link">
          <li role="menuitem">
            <a class="dropdown-item" [routerLink]="['user/account']"
              routerLinkActive="router-link-active">{{ 'GEN_LBL_ACCOUNT' | translate }}</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" href (click)="logOut()">{{ 'GEN_LBL_LOG_OUT' | translate }}</a>
          </li>
        </ul>
      </span>
    </div>

    <div *ngIf="!loggedIn()">
      <span class="mr-2 navbox" dbnNavigationPile>
        <a [routerLink]="['user/register']">{{ 'GEN_LBL_REGISTRATION' | translate }}</a>
      </span>
      <span class="mr-2 navbox" dbnNavigationPile>
        <a [routerLink]="['user/connexion']">{{ 'GEN_LBL_LOG_IN' | translate }}</a>
      </span>
    </div>
  </div>
</nav>